/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$main-font-color: #a6a6a6;
$link-font-color: #56819F;

$gray-content-color: #e3e3e3;
$green-content-color: #04AE00;
$orangeLight-content-color: #FFA200;
$orange-content-color: #F58220;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$main-font: "Open Sans", Helvetica, Arial, sans-serif;
$paragraph-font: "Open Sans", Helvetica, Arial;