@import "variables";
@import "mixins";

@import "normalize";
@import "layout";

@import "components/icon";


      svg {
        width: 24px;
        height: 24px;
        fill: currentColor;
        vertical-align: text-top;
      }

      .sidebar {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 16px;
      }

      .sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
      }

      .sidebar a:hover {
        color: #f1f1f1;
      }



 