.btn {
  background-color: $orangeLight-content-color;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5%;
  cursor: pointer;

  &:hover {
    background-color: RoyalBlue;
  }
}


.btn-center {
  text-align: center;
  display: block;
  margin: 20px auto;
  padding: 5px 30px; 
}

