svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  vertical-align: text-top;
  margin-left: 10px;
}

.sidebar {
  height: 100%;
  padding: 10px 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;

  .logo {
    margin: 0;
    font-family: "Reklame Script";
    color: white;
    margin-left: 10px;
  }

  .icon-hamburger {
    display: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  a {
    color: #818181;
    text-decoration: none;
    padding: 5px;
    padding-top: 10px;
    font-size: 16px;

    display: block;

    &:hover {
      color: #f1f1f1;
      background-color: rgba($color: #818181, $alpha: 0.3);
      border-left: 4px solid rgb(230, 79, 19);
    }


  }
  .people {
    color: #818181;
    padding: 15px;
    font-size: 12px;

    img {
      margin-top: 10px;
      margin-right: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    height: auto;
    width: 100%;

    .logo {
      float: left;
    }

    a,
    .part2Sidebar {
      display: none;
    }

    .icon-hamburger {
      float: right;
      display: block;
    }
  }

  .sidebar.responsive {
    position: relative;
    .icon-hamburger {
      position: relative;
      right: 0;
      top: 0;
    }

    .part2Sidebar {
      display: block;
    }

    a {
      float: none;
      clear: both;
      display: block;
      text-align: left;
    }
  }
}
