.pretty-table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  max-width: 100%;
  margin-top: 30px;

  tr {
    border-bottom: 1px solid #dddddd;

    td,
    th {
      text-align: left;
      padding: 14px;
      color: #000;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    td {
      font-weight: 200;
      width: 100vw;
    }

    th {
      color: #ccc;
      white-space: nowrap;
      padding: 8px;

      .icon-arrowUp {
        vertical-align: middle;
      }

      span {
        padding: 5px;

        &:hover {
          background-color: #f3f5f6;
          cursor: pointer;
          color: #000;
          font-weight: bolder;

          .icon-arrowUp {
            color: $main-font-color;
          }
        }
      }
    }
  }

  tbody tr:hover {
    background-color: #f3f5f6;
    cursor: pointer;
  }
}

.pagination {
  display: inline-block;

  a {
    color: rgb(76, 104, 155);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
  }

  a.active {
    background-color: #bdbdbd;
    color: rgb(73, 73, 73);
  }

  a:hover:not(.pagination-arrow) {
    background-color: #ddd;
  }
}

.center-pagination {
  padding: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .pagination {
    svg {
      width: 10px;
      height: 10px;
      margin-left: -18px;
      vertical-align: middle;
    }

    a {
      padding: 4px 8px;
      font-size: 10px;
    }
  }

  .responsive-table {
    tbody tr:hover {
      background-color: #fff;
    }

    thead {
      display: none;
    }

    td {
      display: block;
    }
    tr td {
      padding: 6px;
    }

    tr td::before {
      font-weight: bold;
      margin-right: 20px;
    }
  }

  #detail-statistic-table {
    tr td:first-child::before {
      content: "Tracker name:";
    }

    tr td:nth-of-type(2n)::before {
      content: "Initiated date:";
    }

    tr td:nth-of-type(3n)::before {
      content: "Visits:";
    }

    tr td:nth-of-type(4n)::before {
      content: "Unique:";
    }

    tr td:nth-of-type(5n)::before {
      content: "Signups:";
    }

    tr td:nth-of-type(6n)::before {
      content: "FTD:";
    }

    tr td:nth-of-type(7n)::before {
      content: "Depositors:";
    }

    tr td:nth-of-type(8n)::before {
      content: "Deposits ($):";
    }

    tr td:nth-of-type(9n)::before {
      content: "Payout ($):";
    }

    tr td:nth-of-type(10n)::before {
      content: "Turnover:";
    }

    tr td:nth-of-type(11n)::before {
      content: "Deal:";
    }
  }

  #payout-history-table {
    tr td:first-child::before {
      content: "Date:";
    }

    tr td:nth-of-type(2n)::before {
      content: "Amount ($):";
    }

    tr td:nth-of-type(3n)::before {
      content: "Deal:";
    }

    tr td:nth-of-type(4n)::before {
      content: "Account:";
    }
  }
}
