.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;

  .detail-statistic-table, .payout-history-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;

    tr {
      border-bottom: 1px solid #dddddd;

      td,
      th {
        text-align: left;
        padding: 14px;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      td {
        font-weight: 200;
      }

      th {
        color: #ccc;
        white-space: nowrap;
        padding: 8px;

        .icon-arrowUp {
          vertical-align: middle;
        }

        span {
          padding: 5px;

          &:hover {
            background-color: #f3f5f6;
            cursor: pointer;
            color: #000;
            font-weight: bolder;

            .icon-arrowUp {
              color: $main-font-color;
            }
          }
        }
      }
    }

    tbody tr:hover {
      background-color: #f3f5f6;
      cursor: pointer;
    }
  }
}

.pagination {
  display: inline-block;

  a {
    color: rgb(76, 104, 155);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
  }

  a.active {
    background-color: #bdbdbd;
    color: rgb(73, 73, 73);
  }

  a:hover:not(.pagination-arrow) {
    background-color: #ddd;
  }
}

.center-pagination {
  padding: 15px;
  text-align: center;
}
